
/*::::::::::::::::::::::::::::::::::: affichage tablette :::::::::::::::::::::::::*/
@media all and (min-width: 992px) and (max-width: 1075px){
    #menu .accueil,#menu .mission{
        padding: 2.5em 1.5em;
    }
    #menu .accueil a,#menu .mission a{
        font-size: 18px;
    }
    #menu .logo img{
        width: 100px;
    }
    #mission .mission-block-one .text{
        padding: 0 2em 0 2em;
        font-size: 1.2em;
    }

    /*:::::mission :::::::::*/

    .page9-background{
        background-size: 100% 1200px;
    }

    /*:::::mission :::::::::*/

}
@media all and (min-width: 960px) and (max-width: 991px){

    #menu .accueil,#menu .mission{
        padding: 2.5em 1.5em;
    }
    #menu .accueil a,#menu .mission a{
        font-size: 18px;
    }
    #menu .logo img{
        width: 100px;
    }
    /*:::::mission :::::::::*/

    .page9-background{
        background-size: 100% 1200px;
    }
    #mission .mission-block-one .text{
        padding: 0 2em 0 2em;
        font-size: 1.2em;
    }

    /*:::::mission :::::::::*/

    /*::::: popup :::::::::*/
    #popup .mission-block-one .text{
        font-size: 1.3em;
    }
    #popup .mission-block-two .electeur-button{
        font-size: 1.2em;
    }
    /*::::: popup :::::::::*/



}

@media all and (min-width: 770px) and (max-width: 959px){

    #menu .accueil,#menu .mission{
        padding: 2.5em 1em;
    }
    #menu .accueil a,#menu .mission a{
        font-size: 14px;
    }

    #menu .logo img{
        width: 100px;
    }

    .block-white .bloc-day, .bloc-hour, .bloc-minute, .bloc-second{
        width: 90px;
        padding: 10px;
    }
    .formulaire .champ-formulaire{
        font-size: 14px;
        width: 250px;
    }
    .formulaire .champ-label{
        font-size: 16px;
        padding-top: 7px;
    }
    .formulaire .champ-label sup{
        font-size: 10px;
    }
    .formulaire .other-button-style{
        right: -3em;
    }

    /*:::::mission :::::::::*/

    .page9-background{
        background-size: 100% 1200px;
    }
    #mission .mission-block-one .text{
        padding: 0 2em 0 2em;
        font-size: 1.2em;
    }

    /*:::::mission :::::::::*/

    /*::::: popup :::::::::*/
    #popup .mission-block-one .text{
        font-size: 1em;
    }
    #popup .mission-block-two .electeur-button{
        font-size: 0.8em;
    }
    #popup .other-block .title{
        font-size: 1.5em!important;
    }
    #popup .mission-block-one .title{
        font-size: 2em;
    }
    #popup .mission-block-two{
        padding: 1em 1em;
    }

    /*::::: popup :::::::::*/

}
@media all and (min-width: 650px) and (max-width: 769px){
    #menu{
        display: none;
    }

    /*:::::::::::::::: menu ::::::::::::::::::*/
    #menu-mobile{
        text-align: center;
        width: 100%;
        height: 130px;
        padding: 1em;
        background-color: rgba(255,255,255,0.9);
        display: block;
    }
    #menu-mobile .logo img{
        width: 100px;
        height: 100px;
    }
    #menu-mobile .accueil{
        padding: 2em;
    }
    #menu-mobile .accueil .fa{
        cursor: pointer;
        color: #4A4A4A;
        font-size: 3em;
    }

    #menu-mobile #sous-menu{
        display: none;
    }
    #menu-mobile .sous-menu{
        text-align: center;
        width: 100%;
        position: absolute;
        left: 0;
        z-index: 99;
        top: 1.1em;
    }
    #menu-mobile .sous-menu .quel-electeur,#menu-mobile .sous-menu .mission{
        padding: 1em;
        background-color: rgba(70,70,70,0.9);
        color: #FFF;
        text-transform: uppercase;
        font-size: 1.5em;
    }
    #menu-mobile .sous-menu .mission{
        border-top: 2px solid #FADB00;
    }
    #menu-mobile .sous-menu .quel-electeur a,#menu-mobile .sous-menu .mission a{
        color: #FFF;
    }
    #menu-mobile .sous-menu .quel-electeur a:hover,#menu-mobile .sous-menu .mission a:hover{
        color: #FFF;
        text-decoration: none;
    }
    /*::::::::::::::::: end menu ::::::::::::::::::::::*/

    .rubrique-one{
        padding-bottom: 1.5em;
    }
    .formulaire .mobile-position{
        text-align: center !important;
    }
    .formulaire .other-button-style{
        right: -1em;
    }
    .formulaire .champ-label{
        text-align: center !important;
    }
    .formulaire .button-mobile-position{
        text-align: center;
    }
    .page2-background{
        background-size: 100% 970px;
    }
    .rubrique-one .text-two{
        padding: 0.5em 2em;

    }

    /*:::::mission :::::::::*/

    .page9-background{
        background-size: 100% 1200px;
    }
    #mission .mission-block-one .text{
        padding: 0 1em 0 1em;
        font-size: 1em;
    }

    #mission .other-block .title{
        font-size: 1.5em!important;
    }
    #mission .mission-block-one .title{
        font-size: 2em;
        margin: 0.2em 0 0.2em 0;
    }
    /*:::::mission :::::::::*/

    /*::::: popup :::::::::*/
    #popup .mission-block-one .text{
        font-size: 1em;
    }
    #popup .mission-block-two .electeur-button{
        font-size: 0.8em;
    }
    #popup .other-block .title{
        font-size: 1.5em!important;
    }
    #popup .mission-block-one .title{
        font-size: 2em;
    }
    #popup .mission-block-two{
        padding: 1em 1em;
    }

    /*::::: popup :::::::::*/

}

@media all and (min-width: 490px) and (max-width: 649px){

    #menu{
        display: none;
    }

    /*:::::::::::::::: menu ::::::::::::::::::*/
    #menu-mobile{
        text-align: center;
        width: 100%;
        height: 130px;
        padding: 1em;
        background-color: rgba(255,255,255,0.9);
        display: block;
    }
    #menu-mobile .logo img{
        width: 100px;
        height: 100px;
    }
    #menu-mobile .accueil{
        padding: 2em;
    }
    #menu-mobile .accueil .fa{
        cursor: pointer;
        color: #4A4A4A;
        font-size: 3em;
    }

    #menu-mobile #sous-menu{
        display: none;
    }
    #menu-mobile .sous-menu{
        text-align: center;
        width: 100%;
        position: absolute;
        left: 0;
        z-index: 99;
        top: 1.1em;
    }
    #menu-mobile .sous-menu .quel-electeur,#menu-mobile .sous-menu .mission{
        padding: 1em;
        background-color: rgba(70,70,70,0.9);
        color: #FFF;
        text-transform: uppercase;
        font-size: 1.5em;
    }
    #menu-mobile .sous-menu .mission{
        border-top: 2px solid #FADB00;
    }
    #menu-mobile .sous-menu .quel-electeur a,#menu-mobile .sous-menu .mission a{
        color: #FFF;
    }
    #menu-mobile .sous-menu .quel-electeur a:hover,#menu-mobile .sous-menu .mission a:hover{
        color: #FFF;
        text-decoration: none;
    }
    /*::::::::::::::::: end menu ::::::::::::::::::::::*/

    .rubrique-one{
        padding-bottom: 1.5em;
    }
    .formulaire .mobile-position{
        text-align: center !important;
    }
    .formulaire .other-button-style{
        right: -1em;
    }
    .formulaire .champ-label{
        text-align: center !important;
    }
    .formulaire .button-mobile-position{
        text-align: center;
    }
    .page2-background{
        background-size: 100% 970px;
    }
    .rubrique-one .text-two{
        padding: 0.5em;
        font-size: 18px;
    }
    .rubrique-one .text-one{
        font-size: 18px;
    }
    .option-block .option-one a{
        font-size: 16px;
    }

    /*:::::mission :::::::::*/

    .page9-background{
        background-size: 100% 1200px;
    }
    #mission .mission-block-one .text{
        padding: 0 1em 0 1em;
        font-size: 1em;
    }

    #mission .other-block .title{
        font-size: 1.5em!important;
    }
    #mission .mission-block-one .title{
        font-size: 2em;
        margin: 0.2em 0 0.2em 0;
    }
    #mission .mission-block-two .icon{
        font-size: 5em;
    }
    /*:::::mission :::::::::*/

    /*::::: popup :::::::::*/
    #popup .mission-block-one .text{
        font-size: 1em;
    }
    #popup .mission-block-two .electeur-button{
        font-size: 0.8em;
        display: block;
        margin-top: 5px;
    }
    #popup .other-block .title{
        font-size: 1.5em!important;
    }
    #popup .mission-block-one .title{
        font-size: 1.3em;
    }
    #popup .mission-block-two{
        padding: 1em 0.5em;
        font-size: 1.2em;
    }

    /*::::: popup :::::::::*/
}

@media all and (max-width: 489px){

    #menu{
        display: none;
    }

    /*:::::::::::::::: menu ::::::::::::::::::*/
    #menu-mobile{
        text-align: center;
        width: 100%;
        height: 130px;
        padding: 1em;
        background-color: rgba(255,255,255,0.9);
        display: block;
    }
    #menu-mobile .logo img{
        width: 100px;
        height: 100px;
    }
    #menu-mobile .accueil{
        padding: 2em;
    }
    #menu-mobile .accueil .fa{
        cursor: pointer;
        color: #4A4A4A;
        font-size: 3em;
    }

    #menu-mobile #sous-menu{
        display: none;
    }
    #menu-mobile .sous-menu{
        text-align: center;
        width: 100%;
        position: absolute;
        left: 0;
        z-index: 99;
        top: 1.1em;
    }
    #menu-mobile .sous-menu .quel-electeur,#menu-mobile .sous-menu .mission{
        padding: 1em;
        background-color: rgba(70,70,70,0.9);
        color: #FFF;
        text-transform: uppercase;
        font-size: 1.5em;
    }
    #menu-mobile .sous-menu .mission{
        border-top: 2px solid #FADB00;
    }
    #menu-mobile .sous-menu .quel-electeur a,#menu-mobile .sous-menu .mission a{
        color: #FFF;
    }
    #menu-mobile .sous-menu .quel-electeur a:hover,#menu-mobile .sous-menu .mission a:hover{
        color: #FFF;
        text-decoration: none;
    }
    /*::::::::::::::::: end menu ::::::::::::::::::::::*/

    .rubrique-one{
        padding-bottom: 1.5em;
    }
    .formulaire .mobile-position{
        text-align: center !important;
    }
    .formulaire .other-button-style{
        right: -1em;
    }
    .formulaire .champ-label{
        text-align: center !important;
    }
    .formulaire .button-mobile-position{
        text-align: center;
    }
    .page2-background{
        background-size: 100% 970px;
    }
    .rubrique-one .text-two{
        padding: 0.5em;
        font-size: 18px;
    }
    .rubrique-one .text-one{
        font-size: 18px;
    }
    .option-block .option-one a{
        font-size: 16px;
    }
    /*:::::mission :::::::::*/

    .page9-background{
        background-size: 100% 1200px;
    }
    #mission .mission-block-one .text{
        padding: 0 1em 0 1em;
        font-size: 1em;
    }

    #mission .other-block .title{
        font-size: 1.5em!important;
    }
    #mission .mission-block-one .title{
        font-size: 2em;
        margin: 0.2em 0 0.2em 0;
    }
    #mission .mission-block-two .icon{
        font-size: 4em;
    }
    /*:::::mission :::::::::*/

    /*::::: popup :::::::::*/
    #popup .mission-block-one .text{
        font-size: 1em;
    }
    #popup .mission-block-two .electeur-button{
        font-size: 0.8em;
        display: block;
        margin-top: 5px;
    }
    #popup .other-block .title{
        font-size: 1.5em!important;
    }
    #popup .mission-block-one .title{
        font-size: 1.3em;
    }
    #popup .mission-block-two{
        padding: 1em 0.5em;
        font-size: 1.2em;
    }

    /*::::: popup :::::::::*/

}